.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.header__wrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-right: 40px;
    min-width: 240px;
    min-height: 50px;
}

.header__link {
    transform: scale(1.1);
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    height: auto;
    max-width: 100%;
}

.header__menu {
    margin-top: 30px;
}

.header__menu-link {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2.25px;
    line-height: 0.6;
    color: var(--color-link);
}

.header__menu-link--active {
    color: var(--color-red);
}

.header__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
}

@media (max-width: 1350px) { 
    .header {
        flex-wrap: wrap;
    }
    
    .header__menu {
        order: 1;
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }

    .header__list {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
}

@media (max-width: 1024px) { 
    .header__logo {
        max-width: 80%;
    } 
}

@media (max-width: 760px) { 
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header__wrapper {
        justify-content: center;
        margin-right: 0;
    }

    .header__list {
        column-gap: 7px;
    } 

    .header__menu-link {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .header__menu {
        margin-top: 10px;
    }

    .header__contact {
        margin-top: 20px;
    }
}