.news {
    display: flex;
    justify-content: center;
}

.news__wrapper {
    margin-right: 60px;
}

.news__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.news__input {
    width: 420px;
    height: 60px;
}

.news__button {
    width: 180px;
}

@media (max-width: 1350px) {
    .news {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .news__container {
        gap: 10px;
    }

    .news__button {
        height: 60px;
    }
}

@media (max-width: 760px) {
    .news__container {
        text-align: center;
    }

    .news__input {
        width: 340px;
    }

    .news__button {
        height: 60px;
    }
}