.types__header {
    margin-bottom: 50px;
}

.types__list {
    display: grid;
    grid-template-columns: repeat(2, 640px);
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 40px;
}

.types__card {
    display: flex;
    height: 160px;
}

.types__link {
    color: var(--color-red);
    font-size: 13px;
    font-weight: 700;
    line-height: 2.15;
    letter-spacing: 1.95px;
    text-transform: uppercase;
}

.types__link:hover {
    color: var(--color-yellow);
    transform: scale(1.1);
}

@media (max-width: 1350px) {
    .types__list {
        grid-template-columns: repeat(1, 640px);
    }
}

@media (max-width: 760px) {
    .types__header {
        margin-top: 50px;
    }

    .types__card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .types__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .types__card {
        height: auto;
    }

    .types__link {
        justify-content: center;
        align-items: center;
    }
}